
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    margin-top: 100px;
    background-color:lightpink;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
}

.container{
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px lightskyblue solid;
    border-radius: 5px;
    font-size: 30px;
    background-color: lightblue;
}